.background {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/839/50/541/library-cartoon-books-candles-wallpaper-preview.jpg");
  background-size: cover;
}

.space {
  justify-content: space-between;
}

.nav-col {
  color: #182747;
}

.text-col {
  color: #182747;
  font-size: 2.5rem;
  background-color: #815b5b;
}

.add-col {
  background-color: #182747;
  color: #815b5b;
  border-color: #182747;
}

.bg {
  background-color: #815b5b;
}

.bg-search {
  background-color: #182747;
  border-color: #815b5b;
}

.center {
  text-align: center;
}

.top-spacing {
  margin-top: 15px;
}
