.background {
  background-color: #e6ddc4;
}

.space {
  justify-content: space-between;
}

.nav-col {
  color: #678983;
}

.text-col {
  color: #182747;
  font-size: 2rem;
  background-color: #815b5b;
}

.add-col {
  background-color: #181d31;
  color: #678983;
  border-color: #182747;
}

.bg {
  background-color: #181d31;
}

.bg-search {
  background-color: #181d31;
  border-color: #678983;
}

.center {
  text-align: center;
}

.top-spacing {
  margin-top: 15px;
}

::placeholder {
  color: #678983;
}
